:root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;

    .box-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .data {
            padding: 0 2rem;

            .info {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                margin-bottom: 1rem;
                text-align: center;
            }
        }

        .box-img {
            transition: transform 0.3s ease;

            .img {
                min-height: 500px;
                max-height: 700px;
                transition: transform 0.3s ease;
                transform-origin: center;

                &:hover {
                    transform: scale(1.10);
                }
            }
        }
    }

    @media (min-width: 800px) {
        .box-data {
            flex-direction: row;
            gap: 2rem;

            &.reverse {
                flex-direction: row-reverse;
            }

            .data {
                width: 50%;

                .info {
                    text-align: start;
                }
            }

            .box-img {
                max-width: 50%;

                .img {
                    max-height: 700px;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .box-data {
            .data {
                width: 40%;

                .info {
                    gap: 2.5rem;
                    margin-bottom: 3rem;
                    width: 90%;
                }
            }

            .box-img {
                max-width: 60%;
            }
        }
    }
}